.banner_body{
    width: 100%;
    height: 95vh;
    background: #003145;
    display: flex;
    justify-items: center;
    align-items: center;
    color: #ffffff;
}
.banner_container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-items: center;
}
.banner_container h1{
    font-size: 48px;
    font-weight: 600;
}
.banner_container p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 38px;
}